@use './styles/vars' as *;

.image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 21rem;
  width: 100%;
  height: 100%;
  margin-bottom: $XS;
}

.title {
  font-size: $TextXS;
  color: $gray;
  margin-bottom: $XS4;
}
