@use '@/styles/vars' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  margin: 5rem auto 0;
  padding: $L 0;
  width: 100%;

  @media (max-width: 992px) {
    margin-top: 7.25rem;
  }
}

.container {
  color: var(--colors-mainText);
  margin-top: 0rem;
  margin-bottom: 4.5rem;
  display: flex;
  min-height: 100%;
  column-gap: 5.5rem;

  @media (max-width: 992px) {
    flex-direction: column;
    row-gap: 3rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 2rem;
  }
}
