.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 2 1 100%;
  margin: 13.5rem auto 0;
  // padding-left: 15px;
  // padding-right: 15px;
  width: 100%;

  @media (max-width: 992px) {
    margin-top: 7.25rem;
  }
}

.container {
  color: var(--colors-mainText);
  margin-top: 0rem;
  margin-bottom: 4.5rem;
  display: flex;
  min-height: 100%;
  column-gap: 5.5rem;

  @media (max-width: 992px) {
    flex-direction: column;
    row-gap: 3rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 2rem;
  }
}

.menu_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 4;
  background: var(--colors-white);
  height: 100dvh;
  overflow-y: auto;
  transition: 0.2s linear;
  transform: translateX(-100%);
  &.active {
    transform: none;
  }
  .sidebar-navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    border-top: 1px solid #c7cdda;
    border-bottom: 1px solid #c7cdda;
    li {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
