@use './styles/vars' as *;

.UserBox {
  position: relative;
}

.avatarBtn {
  background: rgba(var(--dark-bg-rgb), 0.8);
  border-radius: $XS4;
  cursor: pointer;
  padding: $XS4;
  height: 4rem;
}

.avatar {
  width: 100%;
  max-width: 4rem;
  height: 100%;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.4rem);
  right: 0;
  background: rgba(var(--dark-bg-rgb), 0.8);
  border-radius: $XS8;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.option {
  padding: $XS8 $XS;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue);
  }
}
