@use './styles/vars' as *;

.theme {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  background: var(--dark-bg);
  border-radius: $XS4;
}

.toggler {
  position: relative;
  border-radius: $XS8;
  width: 100%;
  height: var(--toggle_height);

  svg {
    fill: var(--secondary);
  }
}
