@use './styles/vars' as *;

.searchBox {
  position: relative;
  &.showed {
    .search {
      border-radius: $XS2 $XS2 0 0;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $XS2;
  border: 1px solid var(--secondary-color);
  border-radius: $XS2;
  width: 22rem;
  height: 3rem;
  z-index: 2;
  transition: border-radius 0.3s ease;

  > div {
    &:nth-of-type(1) {
      width: 40%;
      z-index: 2;
    }
    &:nth-of-type(2) {
      width: 60%;
    }
  }
}

.searchRes {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  padding: $XS2;
  border: 1px solid var(--secondary-color);
  border-radius: 0 0 $XS2 $XS2;
  visibility: hidden;
  opacity: 0;
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  row-gap: $XS2;
  z-index: 1;
  transition: all 0.3s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.noResults {
  font-size: $TextG;
  font-weight: 500;
  text-align: center;
}
