@use './styles/vars' as *;

.LangBox {
  position: relative;
  font-size: 1.4rem;
  line-height: 1;
  min-width: 2.8rem;
  min-height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.show {
    .dropdown {
      visibility: visible;
      opacity: 1;
      border: 1px solid var(--secondary-color);
      border-radius: 0.4rem;
      background: var(--main-color);
    }
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 0.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0 0.2rem 0;
}

.lang {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;
  color: var(--secondary-color);

  &.selected {
    display: none;
  }
}
