@use './styles/vars' as *;

.nav {
  display: flex;
  justify-content: space-between;
  gap: $XS;
  height: 100%;
}

.navItem {
  font-size: $TextG;
  color: var(--secondary);
  padding: $XS8;

  span {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    span {
      transform: translateY(-4px);
    }
  }
}
