// Colors
$dark: #171717;
$white: #ededed;
$gray: rgb(230, 230, 230);
$gray-dark: rgb(73, 73, 73);

$red: #810000;
$redText: #9e0000;

// Spacing
$L: 5.6rem;
$M: 3.2rem;
$S: 2.4rem;
$XS: 1.6rem;
$XS2: 0.8rem;

// Text size
$TextXL: 4.6rem;
$TextL: 3.2rem;
$TextM: 2.4rem;
$TextG: 1.6rem;
$TextS: 1.4rem;
