@use 'vars' as *;
@use 'null';

:root {
  --main: #{$dark};
  --secondary: #{$white};
  --gray: #{$gray};

  --gray-rgb: #{$gray-rgb};
  --grayDark-color: #{$gray-dark};
  --dark-bg: #{$dark-bg};
  --dark-bg-rgb: #{$dark-bg-rgb};
  --white-bg-rgb: #{$white-bg-rgb};

  color: var(--gray);
  background-color: var(--main);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1px;

  &[data-theme='light'] {
    --main: #{$white};
    --secondary: #{$dark};
    --gray: #{$gray-dark};

    --dark-bg: #{$white-bg};
    --dark-bg-rgb: #{$white-bg-rgb};
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100dvh;

  .container {
    max-width: 132rem;
    margin: 0 auto;
    padding: 0 $XS;
  }
}

p,
span {
  line-height: 1.25;
}
