@use 'vars' as *;
@use 'null';

:root {
  --main-color: #{$dark};
  --secondary-color: #{$white};
  --gray-color: #{$gray};

  color: var(--gray-color);
  background-color: var(--main-color);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1px;

  &[data-theme='light'] {
    --main-color: #{$white};
    --secondary-color: #{$dark};
    --gray-color: #{$gray-dark};
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100dvh;

  .container {
    max-width: 132rem;
    margin: 0 auto;
    padding: 0 $XS;
  }
}

p,
span {
  line-height: 1.25;
}
